@page "/details/{Id:int}"

<NavLink href="/">Vers l'Accueil</NavLink>
<h3>Details</h3>


<div class="card m-auto p-3 mt-3 w-50">
    <h3>@product.Name</h3>
    <p>@product.Price</p>
    <p>@product.stock</p>
    <img src="@product.ImageUrl" width="400" alt="Alternate Text" />
    <button @onclick="() => NavigateToUpdate()">Modifier le produit</button>
</div>

